@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?ap7bqh');
    src:  url('fonts/icomoon.eot?ap7bqh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ap7bqh') format('truetype'),
    url('fonts/icomoon.woff?ap7bqh') format('woff'),
    url('fonts/icomoon.svg?ap7bqh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-print:before {
    content: "\79";
}
.icon-shuaxin:before {
    content: "\1002";
}
.icon-zhenque:before {
    content: "\1005";
}
.icon-yuejuancuohao:before {
    content: "\1006";
}
.icon-cuo:before {
    content: "\1007";
}
.icon-uniE600:before {
    content: "\e600";
}
.icon-uniE601:before {
    content: "\e601";
}
.icon-uniE602:before {
    content: "\e602";
}
.icon-uniE603:before {
    content: "\e603";
}
.icon-uniE604:before {
    content: "\e604";
}
.icon-uniE605:before {
    content: "\e605";
}
.icon-uniE606:before {
    content: "\e606";
}
.icon-uniE607:before {
    content: "\e607";
}
.icon-uniE608:before {
    content: "\e608";
}
.icon-uniE609:before {
    content: "\e609";
}
.icon-uniE60A:before {
    content: "\e60a";
}
.icon-uniE60B:before {
    content: "\e60b";
}
.icon-uniE60C:before {
    content: "\e60c";
}
.icon-uniE60D:before {
    content: "\e60d";
}
.icon-uniE60E:before {
    content: "\e60e";
}
.icon-uniE60F:before {
    content: "\e60f";
}
.icon-uniE610:before {
    content: "\e610";
}
.icon-uniE611:before {
    content: "\e611";
}
.icon-uniE612:before {
    content: "\e612";
}
.icon-uniE613:before {
    content: "\e613";
}
.icon-uniE614:before {
    content: "\e614";
}
.icon-uniE615:before {
    content: "\e615";
}
.icon-duihua:before {
    content: "\e616";
}
.icon-uniE617:before {
    content: "\e617";
}
.icon-shezhi:before {
    content: "\e61a";
}
.icon-yinshenim:before {
    content: "\e61b";
}
.icon-search:before {
    content: "\e61c";
}
.icon-star:before {
    content: "\e61d";
}
.icon-yuandian:before {
    content: "\e61e";
}
.icon-kefu:before {
    content: "\e61f";
}
.icon-shezhi1:before {
    content: "\e620";
}
.icon-logo:before {
    content: "\e621";
}
.icon-list:before {
    content: "\e622";
}
.icon-huanfu2:before {
    content: "\e623";
}
.icon-On-line:before {
    content: "\e624";
}
.icon-youyou:before {
    content: "\e625";
}
.icon-zuozuo:before {
    content: "\e626";
}
.icon-tianjia:before {
    content: "\e627";
}
.icon-yinqing:before {
    content: "\e628";
}
.icon-baobiao:before {
    content: "\e629";
}
.icon-xiazai:before {
    content: "\e62a";
}
.icon-xiangxia:before {
    content: "\e62b";
}
.icon-tubiao:before {
    content: "\e62c";
}
.icon-biaoge:before {
    content: "\e62d";
}
.icon-icon5:before {
    content: "\e62e";
}
.icon-iconfont17:before {
    content: "\e62f";
}
.icon-xuanzemoban48:before {
    content: "\e630";
}
.icon-chaidan:before {
    content: "\e631";
}
.icon-wenjian:before {
    content: "\e632";
}
.icon-layouts:before {
    content: "\e633";
}
.icon-duigou:before {
    content: "\e634";
}
.icon-tianjia1:before {
    content: "\e635";
}
.icon-yaoyaozhibofanye:before {
    content: "\e636";
}
.icon-404:before {
    content: "\e637";
}
.icon-lunbozutu:before {
    content: "\e638";
}
.icon-help:before {
    content: "\e639";
}
.icon-daima1:before {
    content: "\e63a";
}
.icon-jinshui:before {
    content: "\e63b";
}
.icon-guanyu:before {
    content: "\e63c";
}
.icon-xiangshang:before {
    content: "\e63d";
}
.icon-riqi:before {
    content: "\e63e";
}
.icon-wenjian1:before {
    content: "\e63f";
}
.icon-delete:before {
    content: "\e640";
}
.icon-fenxiang1:before {
    content: "\e641";
}
.icon-bianji:before {
    content: "\e642";
}
.icon-top:before {
    content: "\e643";
}
.icon-haoyouqingqiu:before {
    content: "\e644";
}
.icon-xiaoxi:before {
    content: "\e645";
}
.icon-weibiaoti1:before {
    content: "\e646";
}
.icon-chuangkou:before {
    content: "\e647";
}
.icon-comiisbiaoqing:before {
    content: "\e648";
}
.icon-zhengque:before {
    content: "\e649";
}
.icon-iconfontwodehaoyou:before {
    content: "\e64a";
}
.icon-wenjianxiazai:before {
    content: "\e64b";
}
.icon-tupian:before {
    content: "\e64c";
}
.icon-lianjie:before {
    content: "\e64d";
}
.icon-jilu:before {
    content: "\e64e";
}
.icon-liucheng:before {
    content: "\e64f";
}
.icon-fontstrikethrough:before {
    content: "\e650";
}
.icon-bofang:before {
    content: "\e651";
}
.icon-bofangzanting02:before {
    content: "\e652";
}
.icon-unlink:before {
    content: "\e653";
}
.icon-bianjiwenzi:before {
    content: "\e654";
}
.icon-sanjiao:before {
    content: "\e655";
}
.icon-danxuankuanghouxuan:before {
    content: "\e656";
}
.icon-danxuankuangxuanzhong:before {
    content: "\e657";
}
.icon-juzhongduiqi:before {
    content: "\e658";
}
.icon-youduiqi:before {
    content: "\e659";
}
.icon-zuoduiqi:before {
    content: "\e65a";
}
.icon-gongsisvgtubiaozongji22:before {
    content: "\e65b";
}
.icon-gongsisvgtubiaozongji23:before {
    content: "\e65c";
}
.icon-loading2:before {
    content: "\e65d";
}
.icon-jiacu:before {
    content: "\e65e";
}
.icon-liaotianduihuaimgoutong:before {
    content: "\e65f";
}
.icon-wenjianjiafan:before {
    content: "\e660";
}
.icon-shouji:before {
    content: "\e661";
}
.icon-tianjia2:before {
    content: "\e662";
}
.icon-biaoqing:before {
    content: "\e663";
}
.icon-html:before {
    content: "\e664";
}
.icon-biaodan:before {
    content: "\e665";
}
.icon-25:before {
    content: "\e666";
}
.icon-emwdaima:before {
    content: "\e667";
}
.icon-zitixiahuaxian:before {
    content: "\e668";
}
.icon-sanjiao1:before {
    content: "\e669";
}
.icon-tupian-copy-copy:before {
    content: "\e66a";
}
.icon-loading1:before {
    content: "\e66b";
}
.icon-xieti:before {
    content: "\e66c";
}
.icon-yuyin:before {
    content: "\e688";
}
.icon-shipin1:before {
    content: "\e6ed";
}
.icon-yinpin:before {
    content: "\e6fc";
}
.icon-ccgl:before {
    content: "\e900";
}
.icon-cggl:before {
    content: "\e901";
}
.icon-ckgl:before {
    content: "\e902";
}
.icon-cwgl:before {
    content: "\e903";
}
.icon-ddgl:before {
    content: "\e904";
}
.icon-kpgl:before {
    content: "\e905";
}
.icon-rkgl:before {
    content: "\e906";
}
.icon-spgl:before {
    content: "\e907";
}
.icon-sxgl:before {
    content: "\e908";
}
.icon-yhzx:before {
    content: "\e909";
}
.icon-xtgl:before {
    content: "\e90a";
}
.icon-ysgl:before {
    content: "\e90b";
}
.icon-ywbb:before {
    content: "\e90c";
}
.icon-yxgl:before {
    content: "\e90d";
}
.icon-notdef:before {
    content: "\e90e";
}
.icon-caiGou:before {
    content: "\e90f";
}
.icon-cangKu:before {
    content: "\e910";
}
.icon-dingDan:before {
    content: "\e911";
}
.icon-peiSong:before {
    content: "\e912";
}
.icon-shangPing:before {
    content: "\e913";
}
.icon-tongJi:before {
    content: "\e914";
}
.icon-xiTong:before {
    content: "\e915";
}
.icon-yingXiao:before {
    content: "\e916";
}
.icon-useCenter:before {
    content: "\e917";
}
.icon-zhangHao:before {
    content: "\e918";
}
.icon-miyao:before {
    content: "\e919";
}
.icon-shenhe:before {
    content: "\e91a";
}
.icon-shouquan:before {
    content: "\e91b";
}
.icon-number4:before {
    content: "\e91c";
}
.icon-number5:before {
    content: "\e91d";
}
.icon-huankuang:before {
    content: "\e91e";
}
.icon-tuihuo:before {
    content: "\e91f";
}
.icon-huanhuo:before {
    content: "\e920";
}
.icon-yiku:before {
    content: "\e921";
}
.icon-fafangliebiao:before {
    content: "\e922";
}
.icon-jiebang:before {
    content: "\e923";
}
.icon-quan:before {
    content: "\e924";
}
.icon-number13:before {
    content: "\e925";
}
.icon-number14:before {
    content: "\e926";
}
.icon-number15:before {
    content: "\e927";
}
.icon-number16:before {
    content: "\e928";
}
.icon-number17:before {
    content: "\e929";
}
.icon-number18:before {
    content: "\e92a";
}
.icon-number19:before {
    content: "\e92b";
}
.icon-number20:before {
    content: "\e92c";
}
.icon-checkmark2:before {
    content: "\e92e";
}
.icon-cancel2:before {
    content: "\e930";
}
.icon-plus:before {
    content: "\e931";
}
.icon-plus2:before {
    content: "\e932";
}
.icon-minus:before {
    content: "\e933";
}
.icon-minus2:before {
    content: "\e934";
}
.icon-notice:before {
    content: "\e935";
}
.icon-notice2:before {
    content: "\e936";
}
.icon-cog:before {
    content: "\e937";
}
.icon-cogs:before {
    content: "\e938";
}
.icon-cog2:before {
    content: "\e939";
}
.icon-warning:before {
    content: "\e93a";
}
.icon-checkmark3:before {
    content: "\e93b";
}
.icon-cancel3:before {
    content: "\e93c";
}
.icon-magnifier:before {
    content: "\e93d";
}
.icon-zoomin:before {
    content: "\e93e";
}
.icon-zoomout:before {
    content: "\e93f";
}
.icon-reply:before {
    content: "\e940";
}
.icon-forward:before {
    content: "\e941";
}
.icon-weizhi:before {
    content: "\e942";
}
.icon-xiezai:before {
    content: "\e943";
}
.icon-anzhuang:before {
    content: "\e944";
}
.icon-download:before {
    content: "\e960";
}
.icon-upload:before {
    content: "\e961";
}
.icon-backward2:before {
    content: "\ea1f";
}
.icon-forward3:before {
    content: "\ea20";
}
.icon-first:before {
    content: "\ea21";
}
.icon-last:before {
    content: "\ea22";
}
.icon-previous2:before {
    content: "\ea23";
}
.icon-next2:before {
    content: "\ea24";
}
.icon-circle-up:before {
    content: "\ea41";
}
.icon-circle-right:before {
    content: "\ea42";
}
.icon-circle-down:before {
    content: "\ea43";
}
.icon-circle-left:before {
    content: "\ea44";
}
