.idea/*
.settings/*
.project
.classpath
**/.idea
**/.settings/
**/.project
**/.classpath
**/target/
**/logs/
**/catalina.base_IS_UNDEFINED/
**/.tomcatplugin
**/.#webclasspath
**/work/

*.iml
target/*

*/.DS_Store
.DS_Store

gradlew
gradlew.bat
*.ipr
*.iws
out
 
# Eclipse Project files
gen/
local.properties
.DS_Store
Thumbs.db
 
*.bak
*.tem
*.temp
#.swp
*.*~
~*.*
