<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../common/css/amazeui.css?v=2.12">
    <link rel="stylesheet" href="../../layui/css/layui.css?v=2.12">
    <link rel="stylesheet" href="../../common/css/common.css?v=2.12">
    <link rel="stylesheet" href="../../common/css/font-style.css?v=2.12">
</head>
<body>
<div class="content-wrapper">
    <!-- header -->
    <div class="list">
        <div class="content-search layui-form">
            <div class=" layui-form-item">
                <div class="layui-inline">

                    <a href="javascript:void(-1);" id="add_spec" class="layui-btn layui-btn-small spec_save_upda"
                       authority_code="spec_save_upda"> <i class="layui-icon" style="vertical-align: middle">
                        &#xe61f;</i>添加规格</a>
                    <a href="javascript:void(-1);" id="add_common_spec" class="layui-btn layui-btn-small spec_save_common"
                       authority_code="spec_save_common"> <i class="layui-icon" style="vertical-align: middle">
                        &#xe61f;</i>添加公共规格</a>
                    <button class="layui-btn layui-btn-small spec_deleted" id="spec_deleted"
                            authority_code="spec_deleted">删除
                    </button>

                </div>
            </div>
        </div>
        <!--table 数据-->
        <!--<div class="layui-form">
            <table class="layui-table" id="checkTba">
                <thead>
                <tr>
                    <th class="checked width30"><input type="checkbox" lay-skin="primary" lay-filter="allChoose"></th>
                    <th class="tab_sku sort Width300" name="info.name">属性名称</th>
                    <th class="tab_img Width300">属性值</th>
                    <th class="setting">操作</th>
                </tr>
                </thead>
                <tbody id="page_tbody">
                </tbody>
            </table>
        </div>-->
        <div class="panel layui-form">
            <div class="datagrid-header" style="width: 100%; height: 29px;">
                <div class="datagrid-header-inner" style="display: block;position: absolute;left: 0;">
                    <table class="datagrid-htable" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <tr class="datagrid-header-row">
                            <td>
                                <div class="datagrid-cell datagrid-cell-c1-checkbox" style="">
                                    <input type="checkbox" lay-skin="primary" lay-filter="allChoose">
                                </div>
                            </td>
                            <td rowspan="1" colspan="1" field="name3"  class="">
                                <div class="datagrid-cell datagrid-cell-c1-address sort" name="info.name" style="">规格名称</div>
                            </td>

                            <td rowspan="1" colspan="1" field="name5">
                                <div class="datagrid-cell datagrid-cell-c1-address"  style="">规格值</div>
                            </td>
                            <td rowspan="1" colspan="1" field="name17">
                                <div class="datagrid-cell datagrid-cell-c1-address " style="">操作</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="datagrid-body" style="width: 100%; margin-top: 0px; height: 500px;">
                <table class="datagrid-btable" cellspacing="0" cellpadding="0" border="0">
                    <tbody id="page_tbody"></tbody>
                </table>
            </div>
        </div>
        <!--table 分页-->
        <div class="cf">
            <div id="pager" style="text-align:right"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../admin.js"></script>
<script type="x-jsrender" id="j-con-list">
{{for result}}
<tr>
    <td><div class="datagrid-cell datagrid-cell-c1-checkbox" style=""><input type="checkbox" lay-skin="primary" class="{{if productSpecificationsInfo.isCommon}}common{{/if}}" id="{{:productSpecificationsInfo.id}}"></div></td>
    <td><div class="datagrid-cell datagrid-cell-c1-address over_hid" style="" titlt="{{:productSpecificationsInfo.name}}">{{:productSpecificationsInfo.name}}</div></td>
    <td><div class="datagrid-cell datagrid-cell-c1-address over_hid"  style="" title="{{:productSpecificationsValue}}">{{:productSpecificationsValue}}</div></td>
    <td class="state_uhandle">
<div class="datagrid-cell datagrid-cell-c1-address " style="">

                <a  spec="{{:productSpecificationsInfo.id}}" class="  update spec_save_upda spec_save_common"  title="编辑"  {{if productSpecificationsInfo.isCommon}}authority_code="spec_save_common"{{else}}authority_code="spec_save_upda"{{/if}} >
                             <i class="icon-bianji"></i>
                </a>
                    {{if !productSpecificationsInfo.isCommon}}
                <a  spec="{{:productSpecificationsInfo.id}}" class="  delete spec_deleted"    title="删除"    authority_code="spec_deleted">
                                         <i class="icon-delete"></i>
                </a>
                {{/if}}
                 <a   spec="{{:productSpecificationsInfo.id}}" class="  update spec_info" title="查看"   authority_code="spec_info"  {{if productSpecificationsInfo.isCommon}}n_authority_code="spec_save_common"{{else}}n_authority_code="spec_save_upda"{{/if}} >
                <i class="icon-search"></i>
                </a>
</div>
    </td>
</tr>
{{/for}}



</script>
<script type="x-jsrender" id="j-edit-content">
     <form id="form_edit" action="" class="layui-form dialog"  style="display:none" >
        <input type="hidden" id="form_id" value="{{:id}}" >
        <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label padd_top"><span style="color:red">*</span>规格名称</label>
            <div class="layui-input-inline mizo-selectW">
                <input type="text" placeholder="请输入规格名称"  maxlength="30"  id="form_name"name="name" lay-verify="required"  value="{{:name}}" class="layui-input">
            </div>
        </div>
        </div>
         <div class="layui-form-item" id="layui-form-item">
         </div>
               <input type="hidden" id="form_submit" lay-submit lay-filter="form_submit" />
    </form>



</script>
<script type="x-jsrender" id="j-spec_value">
        <div class="layui-inline spec_value">
            <label class="layui-form-label padd_top"><span style="color:red">*</span>规格值</label>
            <div class="layui-input-inline addAttribute_with">
                <input type="text" placeholder="请输入规格值"  maxlength="49"  lay-verify="required"class="layui-input select_spec_value" spec_value_id="{{:id}}" value="{{:specificationsValue}}">
            </div>
            <div  class="caozuo">
                <span class="icon-C1" ></span>
                <span class="icon-C2" ></span>
                <span class="icon-C3" ></span>
                <span class="icon-C4" ></span>
            </div>
        </div>




</script>
<script type="text/javascript">
    layui.use(['form', 'laypage', 'layedit', 'laydate'], function () {
        var form = layui.form();
        var layer = layui.layer,
                laypage = layui.laypage;
        var currPageNo;
        //全选
        form.on('checkbox(allChoose)', function (data) {
            var child = $('.datagrid-body').find('tbody input[type="checkbox"]');
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
        $("#add_spec").click(function () {
            openEditContent(function (backFun) {
                var jsRenderTpl = $.templates('#j-spec_value'),
                        finalTpl = jsRenderTpl({});
                $("#layui-form-item").append(finalTpl);
                openSpecValue();
                backFun.call(this);
            }, "新增规格")
        });
        $("#add_common_spec").click(function () {
            openEditContent(function (backFun) {
                var jsRenderTpl = $.templates('#j-spec_value'),
                        finalTpl = jsRenderTpl({});
                $("#layui-form-item").append(finalTpl);
                openSpecValue();
                backFun.call(this);
            }, "新增公共规格",undefined,undefined,undefined,undefined,"/admin/specifications/common_save.json")
        });

        function openSpecValue() {
            $(".icon-C1").unbind("click");
            $(".icon-C2").unbind("click");
            $(".icon-C3").unbind("click");
            $(".icon-C4").unbind("click");
            $(".icon-C1").click(function () {
                var jsRenderTpl = $.templates('#j-spec_value'),
                        finalTpl = jsRenderTpl({});
                $("#layui-form-item").append(finalTpl);
                openSpecValue()
            });
            $(".icon-C2").click(function () {
                if ($("#layui-form-item .spec_value").length > 1) {
                    $(this).parent().parent().remove();
                    openSpecValue()
                }
            });
            $(".icon-C3").click(function () {
                $(this).parent().parent().next().after($(this).parent().parent())
                openSpecValue()
            })
            $(".icon-C4").click(function () {
                if ($(this).parent().parent().prev().hasClass("spec_value")) {
                    $(this).parent().parent().prev().before($(this).parent().parent())
                    openSpecValue()
                }
            })
        }

        $("#spec_deleted").click(function () {
            var idList = new Array();
            var selectCommon=false;
            $("#page_tbody input[type='checkbox']").each(function () {
                if (Utils.isNotNull(checkBox($(this), $(this).attr("id")))) {
                    if(!$(this).hasClass("common")){
                        idList.push(checkBox($(this), $(this).attr("id")));
                    }else{
                        selectCommon=true;
                    }
                }
            })
            if (Utils.isNotNull(idList) && idList.length > 0) {
                layer.confirm("确定要删除所选的非公共规格吗？",{icon: 3, title: '提示','closeBtn':0,area: ['430px', '240px']}, function () {
                    ajaxsend({ids: idList}, "/admin/specifications/deleted.json", function () {
                        layer.alert("删除成功",function (alertIndex){
                            layer.close(alertIndex);
                            search(currPageNo)
                        });

                    })
                })
            }else{
                if(selectCommon){
                    layer.alert("您所选择的都是公共规格，请选择非公共的规格！");
                }else{
                    layer.alert("请选择需要删除非公共的规格！");
                }
            }
        });
        var orderObj = new Order(function (obj) {
            search();
        });

        function search(pageNo,is) {
            if (!Utils.isNotNull(pageNo)) {
                pageNo = 1;
            }
            currPageNo = pageNo;
            var pageSize = 15;
            var option = {pageNo: pageNo, pageSize: pageSize};
            option = orderObj.setOption(option);
            ajaxsend(option, "/admin/specifications/page.json", function (dataJson) {
                var data = dataJson;
                createTableData(data)
                checkLocalAuthority(data);
                if(is){
                    layer.msg('已刷新为最新数据！！',{
                        time:300
                    })
                }
                form.render('checkbox'); //
                laypage({
                    cont: "pager",
                    curr: dataJson.result.pageNo
                    , pages: dataJson.result.totalPage
                    , skip: true
                    , jump: function (jumpObj, first) {
                        if (!first) {
                            search(jumpObj.curr);
                        }
                    }
                })
            })

        }

        function createTableData(data) {
            /*获取模板*/
            var jsRenderTpl = $.templates('#j-con-list'),
            /*绑定数据*/
                    finalTpl = jsRenderTpl(data.result);
            $('#page_tbody').html(finalTpl)
            $("#checkTba").tableCheck('success');
            checkLocalAuthority(data);
            bind();
        }

        function bind() {
            $("#page_tbody .state_uhandle a").click(function () {
                var url = "";
                var data = {}
                if ($(this).attr("authority_code") == "spec_deleted") {
                    url = "/admin/specifications/deleted.json";
                    data.ids = $(this).attr("spec");
                    layer.confirm("确定要删除所选的规格吗？", {icon: 3, title: '提示','closeBtn':0,area: ['430px', '240px']},function () {
                        ajaxsend(data, url, function (dataJson) {
                            layer.alert("删除成功", function (index) {
                                layer.close(index);
                                search(currPageNo)
                            })
                        })
                    })
                } else if ($(this).attr("authority_code") == "spec_save_upda"||$(this).attr("authority_code") == "spec_save_common") {
                    var url="/admin/specifications/save.json";
                    if($(this).attr("authority_code") == "spec_save_common"){
                        url= "/admin/specifications/common_save.json";
                    }
                    openEditContent(function (backFun, dataJson) {
                        for (var i in dataJson.result.productSpecificationsValueList) {
                            var jsRenderTpl = $.templates('#j-spec_value'),
                                    finalTpl = jsRenderTpl(dataJson.result.productSpecificationsValueList[i]);
                            $("#layui-form-item").append(finalTpl);
                        }
                        openSpecValue();
                        backFun.call(this);
                    }, "修改规格", {id: $(this).attr("spec")}, "/admin/specifications/info.json", function (dataJson) {
                        return dataJson.result.productSpecificationsInfo;
                    }, function (dataJson) {
                        if (!(Utils.isContain(dataJson.authorityCodeList, "spec_save_upda")||Utils.isContain(dataJson.authorityCodeList, "spec_save_common"))) {
                            $("#form_edit input").attr("disabled", "disabled");
                            $(".icon-C1").unbind("click");
                            $(".icon-C2").unbind("click");
                            $(".icon-C3").unbind("click");
                            $(".icon-C4").unbind("click");
                            return false;
                        } else {
                            return true;
                        }
                    },url);
                } else if ($(this).attr("authority_code") == "spec_info") {
                    openEditContent(function (backFun, dataJson) {
                        for (var i in dataJson.result.productSpecificationsValueList) {
                            var jsRenderTpl = $.templates('#j-spec_value'),
                                    finalTpl = jsRenderTpl(dataJson.result.productSpecificationsValueList[i]);
                            $("#form_edit").append(finalTpl);
                        }
                        $("#form_edit input").attr("disabled", "disabled");
                        backFun.call(this);
                    }, "修改规格", {id: $(this).attr("spec")}, "/admin/specifications/info.json", function (dataJson) {
                        return dataJson.result.productSpecificationsInfo;
                    }, function (dataJson) {
                            $(".icon-C1").unbind("click");
                            $(".icon-C2").unbind("click");
                            $(".icon-C3").unbind("click");
                            $(".icon-C4").unbind("click");
                            return false;

                    })
                }
            });
        }

        function openEditContent(beferDeal, title, paramter, url, dataDeal, openAfterDeal,updateUrl) {
            if(Utils.isBlank(updateUrl)){
                updateUrl="/admin/specifications/save.json";
            }
            var isUpdate = true;
            dialog.open({
                paramter: paramter,
                url: url,
                dataDeal: dataDeal,
                id: "j-edit-content",
                removeId: "form_edit",
                openDilog: function (dataJson) {
                    if (Utils.isNotNull(openAfterDeal)) {
                        isUpdate = openAfterDeal.call(this, dataJson);
                    }
                    var btn=["确定", "取消"];
                    if(!isUpdate){
                        btn=["取消"]
                    }
                    beferDeal.call(this, function () {
                        layer.open({
                            title: title
                            , type: 1
                            , content: $("#form_edit")
                            , btn:btn
                            , closeBtn: 0
                            , area: ["600px", "380px"]
                            , btnAlign: 'r'
                            , yes: function (index, item) {
                                if (isUpdate) {
                                    form.on("submit(form_submit)", function () {
                                        if (isUpdate) {
                                            var paramterData = {};
                                            paramterData.productSpecificationsInfo = {};
                                            paramterData.productSpecificationsInfo.name = $("#form_name").val();
                                            paramterData.productSpecificationsInfo.id = $("#form_id").val();
                                            paramterData.productSpecificationsValueList = new Array();
                                            var orderNum = 0;
                                            $(".select_spec_value").each(function () {
                                                var specificationsValue = $(this).val();
                                                var specificationsId = $(this).attr("spec_value_id");
                                                paramterData.productSpecificationsValueList.push({
                                                    orderNum: orderNum,
                                                    specificationsValue: specificationsValue,
                                                    id: specificationsId
                                                });
                                                orderNum++;
                                            })
                                            ajaxsend(paramterData, updateUrl, function (dataJson) {
                                                layer.alert(title + "成功！", function (alertIndex) {
                                                    layer.close(alertIndex)
                                                    layer.close(index);
                                                    $("#form_edit").hide();
                                                    search(currPageNo)
                                                })
                                            }, "post");
                                        } else {
                                            layer.close(index);
                                            $("#form_edit").hide();
                                        }
                                    })
                                    $("#form_submit").click();
                                } else {
                                    layer.close(index);
                                    $("#form_edit").hide();
                                }
                            },
                            btn2: function (index) {
                                layer.close(index);
                            }
                        });

                    }, dataJson)
                }
            })
        }

        function checkBox($box, checkValue, notCheckValue) {
            if ($box.is(':checked')) {
                return checkValue;
            } else {
                return notCheckValue;
            }
        }

        function checkLocalAuthority(data) {
            checkAuthority(data.authorityCodeList, ["spec_deleted", "spec_save_upda", "spec_info","spec_save_common"]);
        }

        search();
        callParent.isLoadEnd("spec_page");
        callParent.register(function () {
            var isRefresh=true
            search(currPageNo,isRefresh)
        }, "search");
    })
</script>
<!--<script>
    $(function () {
        resize();
        $(window).resize(function () {
            resize();
        })
        $('.datagrid-body').scroll(function () {
            $('.datagrid-header-inner').css('left', -$(this).scrollLeft())
        })
    });
    function resize() {
        var height = $(document.body).height(), topH = 160, panelH = height - topH, bodyH = panelH - 30;
        var width=$('.panel').width(),realW=width - 20;$('.datagrid-htable').css('width',realW);$('.datagrid-btable').css('width',realW);
        console.log(width);
        $('.panel').css('height', panelH);
        $('.datagrid-body').css('height', bodyH);
    }
</script>-->
</body>
</html>