<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jimmy.dao.sys.mapper.AccountRoleMapper">
    <resultMap id="BaseResultMap" type="com.jimmy.dao.sys.entity.AccountRole">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="role_id" property="roleId" jdbcType="SMALLINT"/>
        <result column="account_id" property="accountId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, role_id, account_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_account_role
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_account_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.jimmy.dao.sys.entity.AccountRole">
    insert into t_account_role (id, role_id, account_id)
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=SMALLINT}, #{accountId,jdbcType=INTEGER}
  </insert>
    <insert id="insertSelective" parameterType="com.jimmy.dao.sys.entity.AccountRole">
        insert into t_account_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="accountId != null">
                account_id,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=SMALLINT},
            </if>
            <if test="accountId != null">
                #{accountId,jdbcType=INTEGER},
            </if>

        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jimmy.dao.sys.entity.AccountRole">
        update t_account_role
        <set>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=SMALLINT},
            </if>
            <if test="accountId != null">
                account_id = #{accountId,jdbcType=INTEGER},
            </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jimmy.dao.sys.entity.AccountRole">
    update t_account_role
    set role_id = #{roleId,jdbcType=SMALLINT},
      account_id = #{accountId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>