<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jimmy.dao.sys.mapper.PersonInfoMapper">
    <resultMap id="BaseResultMap" type="com.jimmy.dao.sys.entity.PersonInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="TINYINT"/>
        <result column="birth_time" property="birthTime" jdbcType="DATE"/>
        <result column="area_id" property="areaId" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="full_address" property="fullAddress" jdbcType="VARCHAR"/>
        <result column="contact_tel" property="contactTel" jdbcType="VARCHAR"/>
        <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="wechat" property="wechat" jdbcType="VARCHAR"/>
        <result column="person_type" property="personType" jdbcType="TINYINT"/>
        <result column="deleted" property="deleted" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="create_id" property="createId" jdbcType="INTEGER"/>
        <result column="modify_id" property="modifyId" jdbcType="INTEGER"/>
        <result column="source_id" property="sourceId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, gender, birth_time, area_id, address, full_address, contact_tel, contact_phone, 
    email, wechat, person_type, deleted, create_time, modify_time, create_id, modify_id, 
    source_id
  </sql>
    <select id="find" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_person_info
        where id = #{id,jdbcType=INTEGER}
    </select>


    <insert id="insert" parameterType="com.jimmy.dao.sys.entity.PersonInfo" keyProperty="id" useGeneratedKeys="true">
        insert into t_person_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="birthTime != null">
                birth_time,
            </if>
            <if test="areaId != null">
                area_id,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="fullAddress != null">
                full_address,
            </if>
            <if test="contactTel != null">
                contact_tel,
            </if>
            <if test="contactPhone != null">
                contact_phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="wechat != null">
                wechat,
            </if>
            <if test="personType != null">
                person_type,
            </if>
            deleted,
            create_time,
            modify_time,
            <if test="createId != null">
                create_id,
            </if>
            <if test="modifyId != null">
                modify_id,
            </if>
            <if test="sourceId != null">
                source_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=TINYINT},
            </if>
            <if test="birthTime != null">
                #{birthTime,jdbcType=DATE},
            </if>
            <if test="areaId != null">
                #{areaId,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="fullAddress != null">
                #{fullAddress,jdbcType=VARCHAR},
            </if>
            <if test="contactTel != null">
                #{contactTel,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                #{contactPhone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null">
                #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="personType != null">
                #{personType,jdbcType=TINYINT},
            </if>
            0,
            now(),
            now(),
            <if test="createId != null">
                #{createId,jdbcType=INTEGER},
            </if>
            <if test="modifyId != null">
                #{modifyId,jdbcType=INTEGER},
            </if>
            <if test="sourceId != null">
                #{sourceId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.jimmy.dao.sys.entity.PersonInfo">
        update t_person_info
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=TINYINT},
            </if>
            <if test="birthTime != null">
                birth_time = #{birthTime,jdbcType=DATE},
            </if>
            <if test="areaId != null">
                area_id = #{areaId,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="fullAddress != null">
                full_address = #{fullAddress,jdbcType=VARCHAR},
            </if>
            <if test="contactTel != null">
                contact_tel = #{contactTel,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                contact_phone = #{contactPhone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null">
                wechat = #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="personType != null">
                person_type = #{personType,jdbcType=TINYINT},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=TINYINT},
            </if>
            modify_time =now(),
            <if test="createId != null">
                create_id = #{createId,jdbcType=INTEGER},
            </if>
            <if test="modifyId != null">
                modify_id = #{modifyId,jdbcType=INTEGER},
            </if>
            <if test="sourceId != null">
                source_id = #{sourceId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>